/*******************************BODY TAGS********************************/
html, body {
    overflow-x: hidden;
}
p{
    font-size: 800%;
}
/************************************************************************/
/********************************CLASSES*********************************/
.spinning-logo{
    margin: 0 1rem 0 0rem;
}
/******************NAVBAR-COMMON TO ALL***************/
.nav
{
   position: fixed;
   top: 0px;
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em !important;
    padding: 0 2% 0 0;
}
.navbar-brand{
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em !important;
    font-weight: 500;
    color: white;
    position: fixed;
}
.navbar-nav{
    margin: 0;
}
a.navbar-brand {
    display: contents;
}
.navbar .navbar-collapse {
    text-align: center;
  }
div.container{
    margin-right: 2%;
}
/***************************************/
/**************FOOTER COMMON TO ALL*******************/
.social-icon{
    margin: 2.5% 2.5% 2.5% 2.5%;
    
    display: inline;
    text-decoration: none;
    color: #ffff;
    background-color: #6c757d;
}

.footer-icons{
    text-align: center;
    padding: 5% 0 0 0;
    background-color: #6c757d;
    
}
.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em !important;
    display: block;
    text-align: center;
    padding: 5% 0 5% 0;
    color: white;
    background-color: #6c757d;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color:inherit;
}
/***************************************/
/*************************************************************************/
/*****************************IDs*****************************************/

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}


/*************************************************************************/