*{
    padding: 0;
    margin: 0
}

/* .henlo{
    width: 99vw;
    height: 143vh;
    padding-top: 60px;
    
    background-image: url('../pics/download.jpg');
    background-repeat: no-repeat;
    background-position: 50% center;
   
    
    background-size: 53rem;
   
    opacity: 0.2;
} */
.center{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.center::before{
    content: '';
    background-image: url('../pics/download.jpg');
    background-repeat: no-repeat;
    background-size: 70rem;
    position: absolute;
    /* background-position: center; */
    left: 0px;
    top: 20rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}
.aboutush1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
}
.established{

    margin: 30px 60px 0px 40px;
    font-size: 1.1rem;
}
.aboutush2{
    text-align: center;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.Bod-1{
    margin-top: 140px;
}
/* .modifications{
    background-image: url('/static/assets/images/service-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    transform: scale(1.1);
} */

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border: 2px solid gray;
}
.card-title{
  
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}
.card-img-top{
    padding-top: 20px;
    border-radius: 50%;
    object-fit:cover;
    width: 200px;
    
  }
  .card-text, .card-post, .card-title {
    text-align: center;
  }
  .card-post{
    
    font-size: 22px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
  }
  .fa-2x{
    padding-right: 10px;
    color: black;
  }
  .hoverimg:hover{
  
        /* background-image: url('/static/assets/images/service-bg.jpg');
        background-repeat: no-repeat;
        background-size:cover; */
        transform: scale(1.1);
      
      
  }