/* *{
    padding: 0;
    margin: 0;
} */

.container{
    padding-top: 30px;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    

}


h2{
    text-align: center;
    font-size: 56px;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}



  
.slideDown, .slideUp {
position: relative;
opacity:0;
}

.slideDown {
/* top:-50px;
left:5px; */
animation: slideDown ease .3s forwards 1.5s;
}
  
.slideUp {
/* top:40px;
left:10px; */
animation: slideUp ease .5s forwards 1.2s;
}
  

@keyframes slideUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(-40px);opacity:1;}
}

@keyframes slideDown {
    0% {transform: translateY(0);}
    100% {transform: translateY(40px);opacity:1;}
}  

.align-items-start{
    padding-top: 30px;
}



.terr{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}
.span-1{
    padding-top: 20px;
   
}
.whole{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px;
}
.align-items-center {
    align-items: center!important;
    justify-content: center;
}
.main::after{
    content: '';
    background-image: url('./picture.png');
    background-repeat: no-repeat;
    background-size:contain;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;

}