.modifications:hover{
   
    background-repeat: no-repeat;
    background-size:cover;
    transform: scale(1.1);
  
    /* width: 30rem;
    height: 23rem; */

}
.h1-events{
    color: black;
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 56px;
}



.backgrounde{
    margin-top: 100px;
    
    background-image: url(https://img.freepik.com/free-vector/abstract-gear-wheel-mechanism-background_41981-1136.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
  
   
    

}
    
body{
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
    background-repeat: no-repeat;
    background-size: cover;
}